<button (click)="goBack()">go back</button>
<section *ngIf="productItem" class="Product">

  <article class="Product-description">

    <h2 class="Product-title">{{productItem.title}}</h2>

    <figure class="Product-image">
      <img src="{{productItem.imgUrl}}" alt="{{productItem.title}}">
    </figure>

    <span class="Product-price">{{productItem.price}}</span>
    <span class="Product-available">{{productItem.inStock}}</span>

    <p class="Product-description">{{productItem.description}}</p>
    <p class="Product-description">{{productItem.description}}</p>

    <button class="Btn Btn--add-cart">Add to cart</button>

  </article>

</section>

<div *ngIf="productError">Il prodotto non è disponibile</div>
