<section class="Category-grid">
  <div class="Category-item">
    <h2>Category name</h2>
    <figure>
      <img src="" alt="">
    </figure>
  </div>
  <div class="Category-item">
    <h2>Category name</h2>
    <figure>
      <img src="" alt="">
    </figure>
  </div>
  <div class="Category-item">
    <h2>Category name</h2>
    <figure>
      <img src="" alt="">
    </figure>
  </div>
  <div class="Category-item">
    <h2>Category name</h2>
    <figure>
      <img src="" alt="">
    </figure>
  </div>
</section>
