
<form class="Form" action="">
  <fieldset>
    <legend>
      <h2>Aggiungi un nuovo prodotto</h2>
    </legend>
    <div class="Form-field">
      <label class="Form-label" for="product-name">Product name</label>
      <input class="Form-input" type="text" name="product-name" placeholder="Insert the name of product">
    </div>
    <div class="Form-field">
      <label class="Form-label" for="product-price">Product price</label>
      <input class="Form-input" type="number" name="product-price" placeholder="Insert the price of product">
    </div>
    <div class="Form-field">
      <label class="Form-label" for="product-image">Product image</label>
      <input class="Form-input" type="text" name="product-image" placeholder="Insert image of product">
    </div>
    <div class="Form-field">
      <label class="Form-label" for="product-quantity">Product quantity</label>
      <input class="Form-input" type="number" name="product-quantity" placeholder="Insert quantity of product">
    </div>
    <div class="Form-field">
      <label class="Form-label" for="product-description">Product description</label>
      <textarea class="Form-input" name="product-description" placeholder="Insert description of product" rows="8" cols="80"></textarea>
    </div>
    <div class="Form-field">
      <button class="For-submit" type="submit">Insert product</button>
    </div>
  </fieldset>
</form>
