<form class="Form" action="">
  <fieldset>
    <legend>
      <h2>Add new product</h2>
    </legend>

    <div class="Form-field">
      <label class="Form-label" for="product-name">Product category</label>
      <select [(ngModel)]="categoryID" class="Form-input" name="category-id" required>
        <option *ngFor="let category of categoriesList" value="{{category.id}}">{{category.title}}</option>
      </select>
    </div>

    <app-form-product [product]="product"></app-form-product>

    <div class="Form-field">
      <input (click)="addProduct()" class="Form-submit" type="submit" value="Insert product">
      <button class="Form-reset" type="reset">Reset</button>
    </div>
  </fieldset>
</form>
