.Form {
  max-width: 600px;

  &-field {
    margin-bottom: 16px;
  }

  &-label {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  &-input {
    box-sizing: border-box;
    font-size: 1rem;
    height: 42px;
    padding: 4px 8px;
    resize: none;
    width: 100%;
  }

  textarea {
    height: auto;
  }
}
